:root {
  --font-teritary: "Baloo", sans-serif;
  --font-primary: "Roboto";
  --font-secondary: "Outfit";
}

* {
  margin: 0;
  padding: 0;
}

#hero {
  height: 100%;
  height: 100vh;
}

body {
  font-family: var(--font-primary);
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 16/9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.125rem;
  padding: 1rem;
}

.card {
  border: 1px solid #000;
  box-shadow: inset;
  padding: 0.5rem;
  width: 200px;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: blueviolet;
  color: white;
  border: 1px solid #fff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrapper {
  flex-wrap: wrap;
}

.notice {
  display: none;
}

.header {
  font-family: var(--font-secondary);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (max-width: 600px) {
  .flex-row {
    flex-direction: column;
  }

  .notice {
    display: inline;
    text-decoration: underline;
    color: #f00;
    font-weight: bolder;
  }

  footer {
    justify-content: center;
  }
}
